In [20]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

### AskWomen Data Cleaning and EDA

In [21]:
women_df = pd.read_csv('./Data/women_posts.csv')

In [22]:
women_df.head()

,all_awardings,allow_live_comments,author,author_flair_css_class,author_flair_richtext,author_flair_text,author_flair_type,author_fullname,author_is_blocked,author_patreon_flair,...,author_flair_background_color,author_flair_text_color,banned_by,call_to_action,category,author_flair_template_id,link_flair_template_id,link_flair_text,author_cakeday,edited
0,[],False,C4TERW4L,NaN,[],NaN,text,t2_w635x,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,[],False,throwawayalientk,NaN,[],NaN,text,t2_5992f1cb,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,[],False,throwawayalientk,NaN,[],NaN,text,t2_5992f1cb,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,[],False,Exact_Roll_4048,NaN,[],NaN,text,t2_7dtxul8b,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,[],False,Unfair_Salad_5521,NaN,[],NaN,text,t2_ha34dlxa,False,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
women_df.shape

(3000, 73)

In [24]:
women_df['title'].isnull().sum(), women_df['selftext'].isnull().sum()

(0, 923)

- There are no nulls in the 'title' column and 923 nulls in the 'selftext' column.